#part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6%;
}
#part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  position: relative;
}
#upbtn {
  border: 1px solid black;
  color: black;
  margin-top: 2%;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: #d0b0f4;
  cursor: pointer;
}
#s3table {
  width: 90%;
  margin-top: 3%;
}
#load{
    cursor: pointer;
    margin-left:83%;
}
#delbtn {
  border: none;
  font-size: smaller;
  background-color: white;
  cursor:pointer;
}
#dnldbtn {
  border: none;
  background-color: white;
  cursor:pointer;
}
th {
  border-bottom: 1px solid gray;
  padding: 1%;
  font-size: medium;
}
td {
  text-align: center;
  padding: 1%;
  font-size: medium;
}
thead {
  background-color: #d0b0f4;
}
#notfound {
  padding: 8%;
}
#nav-bar {
  background-color: #8458b3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2% 0%;
  position: relative;
  z-index: 1;
}
#link1,
#link2 {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  z-index: 1;
}
#link1 {
  color: #8458b3;
}
#link2 {
  color: white;
}
#nav-bar span {
  background-color: white;
  height: 82%;
  width: 30%;
  position: absolute;
  top: 21%;
  left: 10%;
  border-radius: 30% 30% 0% 0%;
}
#upanime {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40%;
  position: relative;
  margin-top: 18%;
  padding-bottom: 0%;
 display: none;
}
#folder,
#cloud {
  z-index: 1;
}
#file {
  z-index: 1;
  position: absolute;
  left: -12%;
  animation: upload 2s linear infinite;
}
#upbtn:hover {
  box-shadow: 5px 5px 5px gray;
  transform: scale(1.05);
}
#bucket{
    display: none;
}
@keyframes front {
  from {
    left: 10%;
  }
  to {
    left: 60%;
  }
}
@keyframes back {
  from {
    left: 60%;
  }
  to {
    left: 10%;
  }
}
@keyframes upload {
  0% {
    top: -30%;
    left: -12%;
  }
  25% {
    top: -100%;
    left: 10%;
  }
  50% {
    top: -100%;
    left: 45%;
  }
  80% {
    top: -100%;
    left: 80%;
  }
  100% {
    top: 0%;
    left: 93%;
  }
}
@keyframes downflow {
    from{
        top:10%;
    }to{
        top:57%;
    }
}
@media(max-width: 480px){
    #upanime{
        flex-direction: column;
    }
    #file{
        left:43%;
        animation: downflow 2s linear infinite;
        z-index: 0;
    }
    #folder{
        z-index:0;
    }
    #cloud{
        display: none;
    }
    #bucket{
        display: block;
        height:10%;
        width:40%;
        z-index: 1;
        margin-top: 20%;
    }
}